/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

#blog-container{
    max-width: 850px;
    margin: auto;
}

.posts .entry-title h3 {
	font-size: 1.3rem;
	letter-spacing: 0;
}

.entry-image img {
	display: block;
	position: relative;
    width: 190px;
	height: auto;
}

.image-container{
    padding: 0;
}

.entry-title h3 {
	margin: 0;
    padding: 0;
    padding-right: 5px;
}

.title-container{
    padding: 0;
    max-width: 210px;
}

.entry-title h3 a { color: #333; }

.entry-title h3 a:hover { color: #000000; }