body{
    background-color: rgba(61, 61, 61, 0.582);
	color: #FFF;
}

h3{
	max-width: 850px;
	margin: 100px 0 50px 0;
	padding: 12px;
}

h5{
	margin-bottom: 40px;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

/* ----------------------------------------------------------------
	Documents & Contacts
-----------------------------------------------------------------*/

#contact{
	height: 100%;
	/* background-color: #250b0b; */
	text-align: center
}

.list-document{
	height: 17%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8%;
}

a:link {
	text-decoration: none;
}

#document-container{
	max-width: 850px;
	min-height: 250px;
	margin-bottom: 80px;
}

#download-document{
	height: 100%;
	width: 50%;
	/* background-color: #506ea7; */
}

#download-document div{
	border: #444 2px solid;
	border-radius: 15px;
	background-color: #555;
}

#button-document{
	height: 100%;
	width: 50%;
	/* background-color: #062c72; */
}

/* ----------------------------------------------------------------
	Forms
-----------------------------------------------------------------*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: rgba(255, 255, 255, 0.6);
  	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: rgb(255, 255, 255, 0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
 	color: rgb(255, 255, 255, 0.6);
}

::-moz-selection { /* Code for Firefox */
  	color: rgb(255, 255, 255);
  	background: #535353;
}

::selection {
	color: rgb(255, 255, 255);
	background: rgba#535353;
}

/* Border Form Design
---------------------------------------------------------------------------- */

.border-form-control {
	height: 48px;
	/* padding: 8px 4px; */
	font-size: 21px;
	letter-spacing: 1px;
	background-color: transparent !important;
	border-top: transparent !important;
	border-right: transparent !important;
	border-left: transparent !important;;
	border-bottom-width: 1px;
}

textarea.border-form-control {
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
}

.sm-form-control {
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #535353;
	outline: 0;
}

.sm-form-control { height: auto; }

form p{
    color: #ffff;
}

#bloc-message{
    display: flex;
}

/* Buttons
----------------------------------------------------------------------------  */

.button.button-circle { border-radius: 20px; }

.button.button-border {
	border: 2px solid #ffffff;
	background-color: #575757;
	color: #ffffff;
    /* margin-bottom: 20px; */
}


.button.button-border:not(.button-fill):hover {
	background-color: #444;
	color: #FFF;
	border-color: transparent !important;
}


.button {
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.center { text-align: center !important; }

