
/***************** Import **********************/
@font-face {
    font-family: CeraBlack ;
    src: url("../fonts/CeraProBlack.otf") 
}
@font-face {
    font-family: CeraBlackIt ;
    src: url("../fonts/CeraProBlackI.otf") 
}
@font-face {
    font-family: CeraBold ;
    src: url("../fonts/CeraProBold.otf") 
}
@font-face {
    font-family: CeraLight ;
    src: url("../fonts/CeraProLight.otf") 
}
@font-face {
    font-family: CeraRegularIt ;
    src: url("../fonts/CeraProReguItalic.otf") 
}
@font-face {
    font-family: CeraMedium ;
    src: url("../fonts/CeraProMedium.otf") 
}


/***************** Fonds **********************/
body {
    overflow-x: hidden; /* Hide scrollbars */ 
    background-image: url("../img/ODDITY\ VR.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'CeraLight', sans-serif;
    font-size: 25px;
    margin: 0;
}

#container {
    max-width: 950px;
    margin: auto;
}

hr{
    width: 70%;
    border: 2px solid white;
    border-radius: 30px;
    margin: 100px 0 100px 0;
}


/***************** Polices et Ecriture **********************/
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    font-family: 'CeraBlack', sans-serif;
    margin-bottom: 80px;
    text-align: center;
}

h3{
    font-size: 27px;
    font-family: 'CeraBold', sans-serif;
    margin-bottom: 0px;
}

h4{
    font-size: 20px;
    font-family: 'CeraBold', sans-serif;
    margin-bottom: 0px;
}

.subtitle-italic{
    font-style: italic;
    font-weight: lighter;
    font-family: 'CeraMedium', sans-serif;
}

.text-italic{
    font-style: italic;
}

.title{
    text-align: center;
}


/***************** Nav bar**********************/
#top-band{
    background-color: #6A3980;
    position: fixed;
    z-index: 3;
    height: 42px;
    width: 100%;

}

nav{
    display: flex;
    justify-content: center;
}

#navbar-container{
    height: 60px;
    width: 1150px;
    max-width: 100%;

    top: 35px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    border-radius: 15px;
    margin: auto;
}

#navbar-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 5px;
    padding-right: 10px;
}

#navbar-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: CeraMedium;
    margin-right: 35px;
}

#navbar-list li:last-child{
    margin-right: 5px;
}

li a{
    color: #39155A;
    cursor: pointer;
}

li a:hover{
    color: #7d3d88;
}


/***************** Side Nav **********************/
.sidenav{
    display : none;
}

#openBtn{
    visibility: hidden;
}


/***************** Boutons **********************/
.multicolor-button{ 
    color: rgb(245, 245, 245);
    background-color: #250d3b;
    width: 250px;
    height:70%;
    margin-right: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'CeraBold';
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    padding: 6px;
    margin-left: auto;
}

.multicolor-button:hover{
    background-color: #39155A;
    color: white;
    border: 0.1px solid white;
}


/***************** Accueil **********************/
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil{
    flex-shrink: 0;
    width: 1300px;
    max-width: 100%;
    height: 800px;
}
#accueil embed{
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* padding: 0; */
    border-radius: 30px;
}

#slogan{
    background-color:rgba(0, 0, 0, 0.705);
    width: 100%;
    max-width: 795px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    padding: 20px;
    transition: opacity 2s;
    opacity: 0;
}


/***************** Presentation **********************/
#presentation-container{
    display: flex;
    position: relative;
}

#text-presentation{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text-presentation h2{
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

#bloc-girl {
    width: 30%;
}

#blue-bloc-girl {
    position: relative;
    margin-left: -100px;
    width: 350px;
    height: 350px;
    border-radius: 70px;
    background-color: rgba(255, 255, 255, 0.2);
}

#metaverse-girl
{
    height: 700px;
    position: absolute;

    right: -70px;
    top: -120px;

    animation-name: girl-float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


/***************** modules **********************/
#scenarios-text{
    text-align: right;
}

#bloc-shooter-game
{
    border-radius: 25px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.2);
}

.balloon
{
    position: absolute;
    animation-name: ballon-move;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    background-image: url("../img/balloon.png");
    background-size: 100%;
}

#score{
    margin: 20px;
}

/***************** Results **********************/

#reception-results{
    position: relative;
    margin-left: auto;
}

#results-text{
    position: relative;
    z-index: 2;
}

#results-image{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#results-button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

#results-button img{
    width: 800px;
}

#results-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow:auto;

    background-color: rgba(0,0,0,0.4);
}

#content-modal{
    background-color: #fefefe;

    margin: 50px;
    height:90% ;
    padding-right: 15px;
    border: 1px solid #888;

    background-image: url(../img/penguin.png);
    background-position: center;
}

#close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#table{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-between;
}

.softskill{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 200px;
    width: 160px;
}

.softskill img{
    border-radius: 25px;
    height: 110px;
}

.softskill-title{
    text-align: center;
    font-size: 22px;
    font-family: CeraBlack;
}

.softskill img:hover{
    background-color: #0e1b5221;
}

/***************** Team **********************/

.card-container{
    height: 300px;
    text-align: center;
    padding: 0;
}

.card-image{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
    border-radius: 50px;
}

#equipe{
    margin-bottom: 180px;
}

#slogan-equipe{
    text-align: center;
}

/***************** Blog **********************/

.title-container{
    padding: 0;
    width: 50%;
    flex-shrink: 0;
}

.entry-title h3 a { color: #ffffff; }

.entry-title h3 a:hover { color: #0E1A52; }

.entry-title{
    text-align: center;
}

.entry-image img {
	display: block;
	position: relative;
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
	height: auto;
}    

.article-container{
    display: flex;
    justify-content: center;
}

.tag{
    font-size: 20px;
}


/***************** Document & Contact **********************/
#contact-us{
	height: 100%;
	text-align: center;
    font-family: 'CeraBlack', sans-serif;
}

.list-document{
	height: 17%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8%;
    font-size: 22px;
}

a:link {
	text-decoration: none;
}

#download-document{
	height: 100%;
	width: 50%;
}

#download-document div{
	/* border: #444 2px solid; */
	border-radius: 20px;
	/* background-color: #62356d; */
    background-color: transparent;
}

#button-document{
	height: 100%;
	width: 50%;
}


/***************** Forms **********************/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: rgba(255, 255, 255, 0.6);
  	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: rgb(255, 255, 255, 0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
 	color: rgb(255, 255, 255, 0.6);
}

::-moz-selection { /* Code for Firefox */
  	color: rgb(255, 255, 255);
  	background: #535353;
}

::selection {
	color: rgb(255, 255, 255);
	background: rgba#535353;
}


/* Border Form Design
---------------------------------------------------------------------------- */
.border-form-control {
	height: 48px;
	/* padding: 8px 4px; */
	font-size: 21px;
	letter-spacing: 1px;
	background-color: transparent !important;
	border-top: transparent !important;
	border-right: transparent !important;
	border-left: transparent !important;;
	border-bottom-width: 1px;
}

textarea.border-form-control {
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
}

.sm-form-control {
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 22px;
	color: #ffffff;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #535353;
	outline: 0;
}

.sm-form-control { height: auto; }

form p{
    color: #ffff;
}

#bloc-message{
    height: 380px;
    display: flex;
}


/* Buttons
----------------------------------------------------------------------------  */
.button.button-circle { border-radius: 25px; }

.button.button-border {
    border: none;
    background-color: #ffffff;
	color: #39155A;
}

.button.button-border:not(.button-fill):hover {
    background-color: #250d3b;
	color:#ffffff;
}

.button {
	margin: 5px;
	padding: 8px 22px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.center { text-align: center !important; }

/***************** Alerts **********************/

.alert{
	top: 40%;
	opacity: 0.7;
	position: absolute;
	width: 100%;
}

#form-success{
	visibility: hidden;
}

#form-danger{
	visibility: hidden;
}

#loader-container{
	width: 100%;
	height: 50px;
	text-align: center;
    border-radius: 50px;
}

#loader{
	width: 60px;
	height: 60px;
	visibility: hidden;
}

/***************** Footer **********************/

footer{
    min-height: 200px;
    /* background-color: #303030; */
    background-color: #1b0b2c;
    padding-top: 70px;
    padding-bottom: 50px;
    
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
}

#footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}

#footer-logo img{
    margin: auto;
    width: 250px;
    height: 80px;
}

#footer-contact{
    text-align: center;
    font-size: 20px;
}

#footer-social-media{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80px;
    width: 350px;
}

#footer-social-media div a{
    margin: 5px;
    width: 30px;
    height: 30px;
    background-size: cover;
}

#facebook{
    background-image: url(../img/Icon_awesome-facebook-square.png);
}

#twitter{
    background-image: url(../img/Icon_awesome-twitter-square.png);
}

#google{
    background-image: url(../img/Icon_awesome-google.png);
}

#linkedin{
    background-image: url(../img/Icon_awesome-linkedin.png);
}


/***************** Tablet **********************/


/* salu lolo */
@media screen and (max-width: 950px){
    
    #container {
        width: 700px;
    }

    #black-band{
        max-width: 750px;
    }

    .list-document{
        font-size: 18px;
    }
}

/***************** Mobile **********************/

@media screen and (max-width: 700px){

    #container {
        width: 450px;
    }

    #black-band{
        max-width: 520px;
    }

    #navbar-list{
        display: none;
    }

    #navbar-container{
        background-color: transparent;
        justify-content: start;
    }

    /* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
    visibility: visible;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */

  .burger-icon span{
    margin-left: 100px;
  }

  .burger-icon span.black {
    display: block;
    visibility: visible;
    width: 35px;
    height: 5px;
    background-color: black;
    
  }
  .burger-icon span.transparent {
    display: block;
    visibility: visible;
    width: 35px;
    height: 5px;
    background-color: transparent;
  }

  

}