

/***************** Import **********************/

@font-face {
    font-family: CeraBlack ;
    src: url("../fonts/CeraProBlack.otf") 
}
@font-face {
    font-family: CeraBlackIt ;
    src: url("../fonts/CeraProBlackI.otf") 
}
@font-face {
    font-family: CeraBold ;
    src: url("../fonts/CeraProBold.otf") 
}
@font-face {
    font-family: CeraLight ;
    src: url("../fonts/CeraProLight.otf") 
}
@font-face {
    font-family: CeraRegularIt ;
    src: url("../fonts/CeraProReguItalic.otf") 
}
@font-face {
    font-family: CeraMedium ;
    src: url("../fonts/CeraProMedium.otf") 
}
/***************** Fonds **********************/


body {
    overflow-x: hidden; /* Hide scrollbars */ 
    background-image: url("../img/Body.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'CeraLight', sans-serif;
    font-size: 25px;
    margin: 0;
}

#container {
    max-width: 950px;
    margin: auto;
}

#black-band{
    max-width: 1300px;
    background-color: #3333331c;
    margin: auto;
}

hr{
    width: 70%;
    border: 2px solid white;
    border-radius: 30px;
    margin: 100px 0 100px 0;
}




/***************** Polices et Ecriture **********************/

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    font-family: 'CeraBlack', sans-serif;
    margin-bottom: 80px;
}

h3{
    font-size: 27px;
    font-family: 'CeraBold', sans-serif;
    margin-bottom: 0px;
}

.text-orange{
    color: #333;
}

.text-pink {
    color: #333;
}

.text-purple {
    color: #333;
}

.text-blue {
    color: #333;
}

.text-orange:hover{
    color: #eccda7;
}

.text-pink:hover {
    color: #facde1;
}

.text-purple:hover {
    color: #dfc3f5;
}

.text-blue:hover {
    color: #acdee3;
}
.subtitle-italic{
    font-style: italic;
    font-weight: lighter;
    font-family: 'CeraMedium', sans-serif;
}

.text-italic{
    font-style: italic;
}



/***************** Barre Nav **********************/

nav{
    display: flex;
    justify-content: center;
}

#navbar-container{
    height: 60px;
    width: 1300px;
    max-width: 100%;

    top: 10px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    z-index: 3;
    border-radius: 30px;
    margin: auto;
}

#navbar-list{
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 5px;
    padding-right: 10px;
}

#navbar-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: CeraMedium;
    margin-left: 20px;
}

#navbar-list li a{
    cursor: pointer;
}


/***************** Boutons **********************/

.multicolor-button{ 
    background-image: url("../img/ButtonBckg.png");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height:50px;
    border: 3px solid white ; 
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    padding: 6px;
}

.multicolor-button:hover{
    color: white;
    box-shadow: none;
    border: 0.1px solid white;
}

body:not(.device-touch) .multicolor-button{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
} 

/***************** Accueil **********************/
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil{
    flex-shrink: 0;
    width: 1300px;
    max-width: 100%;
    height: 800px;
}
#accueil embed{
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* padding: 0; */
    border-radius: 30px;
}

#slogan{
    background-color:rgba(0, 0, 0, 0.705);
    width: 80%;
    max-width: 795px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    padding: 20px;

    transition: opacity 2s;
    opacity: 0;
}

/***************** Modules **********************/

#modules-container{
    display: flex;
    position: relative;
}

#text-modules{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#text-modules p{
    margin-bottom: 35px;
}

#scenarios-text{
    text-align: right;
}

#reception-results{
    position: relative;
    margin-left: auto;
}

#results-text{
    position: relative;
    z-index: 2;
}

#results-image{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#results-button{
    position: absolute;
    z-index: 2;
}

#results-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow:auto;

    background-color: rgba(0,0,0,0.4);
}

#content-modal{
    background-color: #fefefe;

    margin: 50px;
    height:90% ;
    padding-right: 15px;
    border: 1px solid #888;

    background-image: url(../img/penguin.png);
    background-position: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#tableau-softskills{
    margin-bottom: 100px;
}

#tableau-softskills td{
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 30px;
}

#table{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}

.softskill{
    height: 160px;
    width: 160px;
    border: solid black 2px;
    border-radius: 5px;
    margin: 2px;
}

/***************** Equipe **********************/

.card-container{
    height: 300px;
    text-align: center;
    padding: 0;
}

.card-image{
    background-color: #D3A7F4;
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
}

#equipe{
    margin-bottom: 80px;
}

#slogan-equipe{
    text-align: center;
}


/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.title-container{
    padding: 0;
    width: 50%;
    flex-shrink: 0;
}

.entry-title h3 a { color: #333; }

.entry-title h3 a:hover { color: #000000; }

.entry-title{
    text-align: center;
}

.entry-image img {
	display: block;
	position: relative;
    width: 100%;
    max-width: 200px;
	height: auto;
}    

.article-container{
    display: flex;
    justify-content: center;
}

.tag{
    font-size: 20px;
}


/* ----------------------------------------------------------------
	Documents & Contacts
-----------------------------------------------------------------*/

#contact-us{
	height: 100%;
	text-align: center
}

.list-document{
	height: 17%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8%;
    font-size: 22px;
}

a:link {
	text-decoration: none;
}

#download-document{
	height: 100%;
	width: 50%;
}

#download-document div{
	border: #444 2px solid;
	border-radius: 20px;
	background-color: #62356d;
}

#button-document{
	height: 100%;
	width: 50%;
}

/* ----------------------------------------------------------------
	Forms
-----------------------------------------------------------------*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: rgba(255, 255, 255, 0.6);
  	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: rgb(255, 255, 255, 0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
 	color: rgb(255, 255, 255, 0.6);
}

::-moz-selection { /* Code for Firefox */
  	color: rgb(255, 255, 255);
  	background: #535353;
}

::selection {
	color: rgb(255, 255, 255);
	background: rgba#535353;
}

/* Border Form Design
---------------------------------------------------------------------------- */

.border-form-control {
	height: 48px;
	/* padding: 8px 4px; */
	font-size: 21px;
	letter-spacing: 1px;
	background-color: transparent !important;
	border-top: transparent !important;
	border-right: transparent !important;
	border-left: transparent !important;;
	border-bottom-width: 1px;
}

textarea.border-form-control {
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
}

.sm-form-control {
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 22px;
	color: #ffffff;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #535353;
	outline: 0;
}

.sm-form-control { height: auto; }

form p{
    color: #ffff;
}

#bloc-message{
    height: 380px;
    display: flex;
}

/* Buttons
----------------------------------------------------------------------------  */

.button.button-circle { border-radius: 25px; }

.button.button-border {
	border: 2px solid #ffffff;
	background-color: #6f387c;
	color: #ffffff;
}

.button.button-border:not(.button-fill):hover {
	background-color: #62356d;
	color: #FFF;
	border-color: transparent !important;
}

.button {
	margin: 5px;
	padding: 8px 22px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.center { text-align: center !important; }

/* ----------------------------------------------------------------
	Alerts
-----------------------------------------------------------------*/
.alert{
	top: 40%;
	opacity: 0.7;
	position: absolute;
	width: 100%;
}

#form-success{
	visibility: hidden;
}

#form-danger{
	visibility: hidden;
}

#loader-container{
	width: 100%;
	height: 50px;
	text-align: center;
    border-radius: 50px;
}

#loader{
	width: 60px;
	height: 60px;
	visibility: hidden;
}

/* ----------------------------------------------------------------
	FOOTER
-----------------------------------------------------------------*/

footer{
    min-height: 200px;
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: -30px;
}

#footer{
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    max-width: 1300px;
    margin: auto;
}

#footer-logo{
    display: flex;
    align-items: center;
    min-width: 200px;
    width: 30%;
}

#footer-logo img{
    margin: auto;
    width: 180px;
    height: 180px;
}

#footer-contact{
    text-align: center;
    font-size: 20px;
}

#footer-social-media{
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 200px;
    width: 30%;
}

#footer-social-media div a{
    margin: 5px;
    width: 25px;
    height: 25px;
    background-size: cover;
}

#facebook{
    background-image: url(../img/Icon_awesome-facebook-square.png);
}

#twitter{
    background-image: url(../img/Icon_awesome-twitter-square.png);
}

#google{
    background-image: url(../img/Icon_awesome-google.png);
}

#linkedin{
    background-image: url(../img/Icon_awesome-linkedin.png);
}


/***************** Tablet **********************/

@media screen and (max-width: 950px){
    
    #container {
        width: 700px;
    }

    #black-band{
        max-width: 750px;
    }

    .list-document{
        font-size: 18px;
    }
}

/***************** Mobile **********************/

@media screen and (max-width: 700px){

    #container {
        width: 450px;
    }

    #black-band{
        max-width: 520px;
    }
}